/* ---> First Div start here <----*/ 
.hh1
{
    size:30px; 
    color: red; 
    font-weight:600;
    margin: 18% 0% 0% 40%;
    text-align: left;
    font-family: Calibri;
}
.hh2
{
    size: 60px;
    font-family: Calibri,regular;
    margin: 12px 0px 0px 40%;
    width: 614px;
    height:35px;
    font-weight: bold;
    text-align: left;
}
.hh3
{
    font-size: 13px;
    font-family: Poppins,Regular;
    margin: 5% 0px 5% 40%;
    height: 83px;
    width: 55%;
}
.btn1
{
    margin: 0% 0% 0% 40%;
    font-size: 10px;
    font:normal normal 600 14px/26px Poppins;
    letter-spacing: 1.4px;
}
.img1
{
    width: 70%; 
    margin: 12% 0% 12% 5%;  
    height: 10%;
}
.Form_div
{
    border: 2px solid #F1F1F1;
    background-color: #FFFFFF;
    width: 450px;
    height: 356px;
    display: none; 
    position: fixed;
    top: 30%;
    left: 25%;
    padding: 20px 25px 20px 25px;
}
.Form_heading
{
    font-family: Calibri;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 100px;
}
.hidden_text
{
    color: #6F718F99;
    font-size: 12px;
    letter-spacing: 0.34px; 
    margin-top: 30px;
    opacity: 0;
}
.input_box
{
    height: 27px;
    letter-spacing: 0.4px;
    padding: 0px 0px 10px 0px;
    border: none;
    border-bottom:2px solid #6F718F99;
    font-family: Calibri;
    color: #2D3142;
    font-weight: bold;
    opacity: 1;
    font-size: 14px;
    text-align: left;
}
.input_box::placeholder
{
    color: #6F718F99;
}
.input_box:focus
{
    outline: none;
    color:black;
}
.checkbox_text
{
    color: #616678;
    text-align: left;
    font-size: 15px;
    font-family: Calibri;
    height: 22px;
    letter-spacing: 0px;
    opacity: 0.9;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.container input 
  {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
.checkmark 
{
    position: absolute;
    top: 6px;
    left: 10px;
    height: 14px;
    width: 14px;
    background-color: white;
    border:1.5px solid #FF3366;
    border-radius:3px;
}
.container input:checked ~ .checkmark 
{
    background-color: #FF3366;
}
.checkmark:after 
{
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after 
{
    display: block;
}
.container .checkmark:after 
{
    left: 3px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.submit_btn
{
    width: 100%;
    margin: 20px 0px 20px 0px;
    padding: 14px 0px 14px 0px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    letter-spacing: 0px;
    background-color: #FF3366;
    font-size: 18px;
    cursor: pointer;
}
/*--->Second div start here<---*/
.what_we_do
{
    background-color: #FAFAFA;
    height: auto;
}
.hhh1
{
    color: red;
    text-align: left;
    font-size: 24px;
    padding-top: 30px;
    margin-left: 34%;
    font-family: Calibri;
}
.hhh2
{
    text-align: center;
    margin-left:20% ;
    font-size: 45px;
    font-family: Calibri;
    font-weight: bold;
}
.hhh2_1
{
    margin-top:-20px;
    margin-left: -45px;
}
.hhh3
{
    font-size: 16px;
    font-family: Calibri;
    padding-top: 100px;
}
.img_div
{
    overflow: hidden;
    height:370px;
    width: 280px;
    border-radius: 4px;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom:100px;
    background-color: transparent;
     perspective: 1000px;
}
.img_card
{
    width: 100%;
    height: 100%;
}
.slider_div
{
    padding-left: 17%;
}
/*flip card*/
.flip-card-inner 
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.img_div:hover .flip-card-inner 
{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back 
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front 
{
    background-color: #bbb;
    color: black;
}

.flip-card-back 
{
    background-color: #FF3147;
    color: white;
    transform: rotateY(180deg);
}
.logo_size
{
    width: 100px;
    height:50px;
    margin-top:25%;
}
.Flip_button
{
    background-color: #F4F4F4;
    color: #FF3147;
    width: 50%;
    padding: 40px 0 0 40px;
    font-size: 12px;
    cursor: pointer;
    border:none;
}
.flip_text
{
    margin-left: -80px;
   margin-top: -29px;
}
.Flip_image
{
    margin-top:-25%;
    margin-left: 25%;
    width:130px;
    height: 10px;
}
/*dots*/

/*---->Why choose us<----*/
.why_choose_us
{
    padding-top: 30px;
    padding-bottom: 40px;
}
.aa1
{
    color:red;
    font-weight: 600;
    text-align: center;
    font-size: 24px;
}
.aa2
{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: Calibri;
    margin-top: -5px;
}
.aa3
{
    font-size: 20px;
    font-weight: bold;
    font-family: Calibri;
}
.aa4
{
    font-size: 16px;
    font-family: Calibri;
}
.gap
{
    margin-left:17%;
    margin-right: 11px;
}
.aa5
{
    height:350px;
    margin-left: 15%;
    overflow: hidden;
}
.aa6
{
    margin-left: 20px;
    height:350px;
}
.btn2
{
    width:100%;
    height:116px;
    font-family: Calibri;
    text-align: justify;
}
.aa6_head
{
    font-weight: 500;
    font-size: 16px;
}
.aa6_head1
{
    margin-top: -5px;
    font-size: 14px;
}
/*---->our_company_growths<---*/
.our_company_growths
{
    padding: 30px 0px 50px 0px;
    background-color: #FAFAFA;
}
.card_images
{
    margin: 10% 50% 0% 40%;
}
.cards
{
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.09);
    transition: 0.3s;
}
.cards:hover 
{
    box-shadow: 2px 8px 16px 0 rgba(0,0,0,0.30);
}
.card_head_text
{
    text-align: center;
    font-family: Calibri;
    font-weight: light;
}
.card_body_text
{
    text-align: center;
    margin-top: -12px;
    margin-bottom: 10%;
    font-size: 20px;
}
/*--->client's feedback<----*/
.clients_feedback
{
    padding: 30px 0 50px 0;
}
.quote_mark
{
    width:150px;
    height:30px;
    margin-left: 22%;
    margin-top: -60px;
}
.quote_mark_text
{
    font-family: Calibri;
    font-weight: 400;
    text-align: justify;
    margin-top: -50px;
    margin-left: 28%;
}
.bb1
{
    font-size: 19px;
    font-family: Calibri;
    font-weight: bolder;
    color:red;
    margin-left: 28%;
    margin-top: 20px;
}
.bb1_1 
{
    color:#808080;
    font-weight: lighter;
    letter-spacing: 0px;
}
/*--->Last block<---*/
.red_box
{
    display:flexbox;
    width: 100%;
    height: 310px;
}
.group
{
    width: 60%;
    height: 56px;
    margin-top: -13%;
    margin-left: 20%;
    line-height: 0%;
    display: block;
}